<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_config"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.MyApplication"
            tools:targetApi="31">
        <activity
                android:name="activity.RunPlanActivity"
                android:exported="false"
                android:label="@string/title_activity_run_plan"
                android:theme="@style/Theme.MyApplication.NoActionBar"/>

        <service
                android:name="Service.MessageService"
                android:enabled="true"
                android:exported="true">
        </service>

        <activity
                android:name="activity.UserCenterActivity"
                android:exported="false"
                android:label="@string/title_activity_user_center"
                android:theme="@style/Theme.MyApplication"/>
        <activity
                android:name="activity.verification"
                android:exported="false"
                android:label="@string/title_activity_verification"
                android:theme="@style/Theme.MyApplication.NoActionBar"/>
        <activity
                android:name="activity.RegisterActivity"
                android:exported="false"
                android:label="@string/title_activity_register"
                android:theme="@style/Theme.MyApplication.NoActionBar"/>
        <activity
                android:name="activity.ClubActivity"
                android:exported="true"
                android:label="@string/title_activity_clubchat"
                android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="activity.ClubChatActivity"
                android:exported="false"
                android:label="@string/title_activity_register"
                android:theme="@style/Theme.MyApplication.NoActionBar"/>
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>